$active: green;
$background: #ced4da;
$backgroundTitle: #3d5a80;
$backgroundTask: #003459;
$red: #a4161a;
$black: #22223b;
$white: white;
$defaultPar: clamp(1.2rem, 1.1538rem + 0.1282vw, 1.4rem);
$radius: 10px;
$xs: 360px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
